@tailwind base;
@tailwind components;
@tailwind utilities;

/* Announcement Bar */
.announcement-bar .announcement-bar__message.h5 {
  @apply text-[18px] leading-[22.5px] font-[600];
  font-family: var(--font-heading-family);
  letter-spacing: 0;
}

/* Header */

.header .header__icon--cart .icon {
  @apply w-[24px] h-[24px];
}

.header .icon-wrapper {
  @apply flex items-center gap-x-[12px];
}

.header .icon-wrapper span {
  @apply font-[600];
  font-family: var(--font-heading-family);
  letter-spacing: 0px;
}

.header .header__icon {
  @apply w-auto no-underline;
}

.header .header__icons {
  @apply gap-x-[35px] p-0 pr-[13px];
}
.header.header--middle-left .header__inline-menu {
  @apply flex justify-center xl:pl-[20%];
}

.header .list-menu__item {
  @apply font-[600] text-[#202020] pt-[10px] px-[16px];
  font-family: var(--font-heading-family);
  letter-spacing: 0px;
}

.header.page-width {
  @apply max-w-[1460px];
}
.header .header__heading-logo-wrapper {
  @apply max-w-[127px];
}

@media (max-width: 1040px) {
  .header .list-menu__item {
    @apply px-[10px];
  }
}

@media (max-width: 989px) {
  .header.header--middle-left .header__inline-menu {
    @apply hidden;
  }
}

/* Hero */

.hero {
  @apply px-[10px] relative z-[2];
}

.hero.hero-small {
  @apply xl:mb-[-109px];
}

.hero .hero-wrapper {
  @apply max-w-[1275px] mx-auto text-center;
}

.hero .hero-wrapper h1 {
  @apply text-[40px] sm:text-[50px] lg:text-[64px] leading-[50px] sm:leading-[60px] lg:leading-[80px] font-[600] mb-[35px];
  letter-spacing: 0px;
}
.hero.hero-small .hero-wrapper h1 {
  @apply mb-[14px];
}
.hero .hero-wrapper .hero-description {
  @apply mb-[27px];
}
.hero .hero-wrapper h3 {
  @apply text-[24px] lg:text-[32px] leading-[30px] lg:leading-[40px] font-[600] text-[#A9978D];
  letter-spacing: 0px;
}

.hero.hero-small h3 {
  @apply mb-[14px];
}

.hero .hero-wrapper p {
  @apply text-[16px] sm:text-[18px] leading-[25px] sm:leading-[28.8px] text-[#202020];
  letter-spacing: 0px;
}
.hero .hero-wrapper .image-wrapper {
  @apply max-w-[1162px] mx-auto relative mt-[40px] sm:mt-[60px] lg:mt-[87px];
}
.hero.hero-small .hero-wrapper .image-wrapper {
  @apply max-w-[903px] xl:translate-x-[-37px] mt-[40px] md:mt-0;
}

.hero .hero-wrapper .image-wrapper img {
  @apply w-full h-full object-cover relative z-[1];
}

/* Text With Image */
.image-with-text-section.image-with-text-centered {
  @apply px-[10px];
}
.image-with-text-section .page-width {
  @apply max-w-[100%] p-0;
}

.image-with-text-section.image-with-text-centered .page-width {
  @apply max-w-[1796px] p-0 z-[2] relative;
}
.image-with-text-section .image-with-text__heading.h1 {
  @apply text-[32px] sm:text-[40px] lg:text-[48px] leading-[40px] sm:leading-[50px] lg:leading-[60px] font-[600];
  letter-spacing: 0px;
}

.image-with-text-section.image-with-text-default
  .grid--2-col-tablet
  .image-with-text__text-item.grid__item {
  @apply w-[57%] px-[20px] lg:pr-[8%] lg:pl-[20px];
}
.image-with-text-section.image-with-text-default
  .grid--2-col-tablet
  .image-with-text__media-item.grid__item {
  @apply w-[43%];
}

.image-with-text-section.image-with-text-centered .image-with-text__heading.h1 {
  @apply max-w-[477px];
}
.image-with-text-section.image-with-text-centered
  .image-with-text__grid--reverse
  .image-with-text__heading.h1 {
  @apply max-w-[500px];
}

.image-with-text-section .description {
  @apply max-w-[704px] mt-[42px] mb-[13px];
}

.image-with-text-section.image-with-text-centered .description {
  @apply max-w-[704px] mt-[20px] lg:mt-[37px] mb-[13px];
}

.image-with-text-section .description h3 {
  @apply text-[24px] lg:text-[32px] leading-[30px] lg:leading-[40px] font-[600]  mb-[14px];
  letter-spacing: 0px;
}
.image-with-text-section.image-with-text-centered .description h3 {
  @apply text-[#A56550];
}
.image-with-text-section .description p {
  @apply text-[16px] sm:text-[18px] leading-[25px] sm:leading-[28.8px];
  letter-spacing: 0px;
}
.image-with-text-section .description p:not(:last-of-type) {
  @apply mb-[15px] sm:mb-[29px];
}
.image-with-text-section.image-with-text-centered
  .image-with-text__media-item
  img {
  @apply relative;
}

.image-with-text-section.image-with-text-centered
  .image-with-text__media-item
  .image-with-text__media {
  @apply flex flex-col justify-center max-w-[822px] bg-transparent lg:mt-[34px];
}

.image-with-text-section.image-with-text-centered
  .image-with-text__grid--reverse
  .image-with-text__media-item
  .image-with-text__media {
  @apply ml-auto mt-0;
}
.image-with-text-section.image-with-text-default .image-with-text__content {
  @apply max-w-[704px] p-0 pt-[80px] sm:pt-[120px] pb-[60px] sm:pb-[80px] md:py-[150px] lg:pt-[251px] xl:pt-[315px] lg:pb-[251px];
}

.image-with-text-section.image-with-text-centered .image-with-text__content {
  @apply px-[20px] xl:pl-[60px] xl:pr-[30px] pb-0 flex flex-col lg:justify-end max-w-[749px];
}
.image-with-text-section.image-with-text-centered
  .image-with-text__grid--reverse
  .image-with-text__content {
  @apply px-[20px] xl:pl-[88px] xl:pr-[30px] pb-0 max-w-[100%];
}
.image-with-text-section.image-with-text-centered .image-with-text__text-item {
  @apply mt-0;
}
.image-with-text-section.image-with-text-centered .image-with-text__grid {
  @apply pt-0 lg:pt-[55px] xl:pt-[107px];
}
.image-with-text-section.image-with-text-centered
  .image-with-text__grid.image-with-text__grid--reverse {
  @apply pt-0;
}

.image-with-text-section.image-with-text-centered
  .image-with-text__grid--reverse
  .image-with-text__text-item {
  @apply mt-[4%] lg:mt-[9%];
}
.image-with-text-section.image-with-text-centered
  .image-with-text__grid--reverse.image-with-text__grid {
  @apply 2xl:pl-[5%];
}

.image-with-text-section {
  @apply relative;
}
.image-with-text-section .top-image {
  @apply absolute top-0 left-0 w-full z-[3];
}

.image-with-text-section .top-image img {
  @apply w-full h-full;
}

.image-with-text-section .bottom-image {
  @apply absolute bottom-0 left-0 w-full z-[1];
}

.image-with-text-section .bottom-image img {
  @apply w-full h-full;
}

.image-with-text-section.image-with-text-default .shape-wrapper {
  @apply hidden lg:block absolute z-[4] top-[117px] right-[25.3vw];
}
@media (max-width: 880px) {
  .image-with-text-section.image-with-text-default .image-with-text__grid {
    @apply flex-col-reverse;
  }
  .image-with-text-section.image-with-text-default
    .grid--2-col-tablet
    .image-with-text__text-item.grid__item {
    @apply w-full;
  }
  .image-with-text-section.image-with-text-default
    .grid--2-col-tablet
    .image-with-text__media-item.grid__item {
    @apply w-full;
  }
  .image-with-text-section.image-with-text-default
    .grid--2-col-tablet
    .image-with-text__media-item.grid__item
    .image-with-text__media {
    @apply pt-[100%];
  }
}

.image-with-text-section .images-section {
  @apply flex flex-wrap max-w-[1456px] mx-auto gap-x-[20px] gap-y-[30px] mt-[40px] sm:mt-[60px] lg:mt-[83px] relative pb-0 sm:pb-[60px] lg:pb-[120px] xl:pb-[200px];
}

.image-with-text-section .images-section .image-wrapper {
  @apply rounded-full  max-w-[280px] overflow-hidden mb-[17px] md:mb-[33px];
}
.image-with-text-section .images-section .image-wrapper img {
  @apply w-full h-full object-cover;
}
.image-with-text-section .images-section .content-wrapper {
  @apply flex flex-col items-center relative z-[1];
  flex: 1 0 calc(25% - 20px);
  max-width: calc(25% - 10px);
}
.image-with-text-section .images-section .content-wrapper p {
  @apply text-center text-[16px] md:text-[20px] leading-[20px] md:leading-[25px] font-[600] text-[#A56550] max-w-[268px] mx-auto;
  font-family: var(--font-heading-family);
}

.image-with-text-section .images-section .shape-container {
  @apply hidden lg:block absolute top-[-246px] left-[254px];
}

@media (max-width: 780px) {
  .image-with-text-section .images-section .content-wrapper {
    @apply flex flex-col items-center relative z-[1];
    flex: 1 0 calc(33% - 20px);
    max-width: calc(33% - 10px);
  }
}
@media (max-width: 535px) {
  .image-with-text-section .images-section .content-wrapper {
    @apply flex flex-col items-center relative z-[1];
    flex: 1 0 calc(50% - 20px);
    max-width: calc(50% - 10px);
  }
}
@media (max-width: 360px) {
  .image-with-text-section .images-section .content-wrapper {
    @apply flex flex-col items-center relative z-[1];
    flex: 1 0 calc(100% - 20px);
    max-width: calc(100% - 10px);
  }
}

/* Image Banner */

.banner-section .banner__heading.h1 {
  @apply text-[32px] sm:text-[40px] lg:text-[48px] leading-[40px] sm:leading-[50px] lg:leading-[60px] font-[600] mb-[20px] md:mb-[40px];
  letter-spacing: 0px;
}

.banner-section .banner__text p {
  @apply text-[16px] sm:text-[18px] leading-[25px] sm:leading-[28.8px];
  letter-spacing: 0px;
}
.banner-section .banner__text p:not(:last-of-type) {
  @apply mb-[15px] md:mb-[30px];
}

.banner-section .banner__text ul {
  @apply flex flex-wrap p-0 gap-x-[28px] gap-y-[40px] mt-[40px] md:mt-[60px];
}

.banner-section .banner__text ul li {
  @apply text-[16px] leading-[20px] font-[600] relative pl-[67px];
  letter-spacing: 0px;
  font-family: var(--font-heading-family);
  flex: 1 0 calc(33% - 28px);
  max-width: calc(33% - 14px);
}
.banner-section .banner__text ul li::before {
  @apply absolute left-0 top-[-4px];
  content: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 48C10.7685 48 0 37.2315 0 24C0 10.7685 10.7685 0 24 0C37.2315 0 48 10.7685 48 24C48 37.2315 37.2315 48 24 48ZM24 2.99284C12.4153 2.99284 2.99284 12.4153 2.99284 24C2.99284 35.5847 12.4153 45.0072 24 45.0072C35.5847 45.0072 45.0215 35.5847 45.0215 24C45.0215 12.4153 35.5847 2.99284 24 2.99284Z' fill='white'/%3E%3Cpath d='M25.5036 12.7446H22.5107V35.2554H25.5036V12.7446Z' fill='white'/%3E%3Cpath d='M35.2554 22.5107H12.7446V25.5036H35.2554V22.5107Z' fill='white'/%3E%3C/svg%3E%0A");
}

.banner-section .banner__box.content-container {
  @apply rounded-[40px] max-w-[947px] p-[40px] md:p-[60px] lg:p-[80px] xl:pt-[108px] xl:pb-[145px] xl:px-[121px];
}

.banner-section.banner--large:not(.banner--adapt) {
  @apply min-h-[1000px] lg:min-h-[1403px];
}

.banner-section .banner__content--middle-right {
  @apply max-w-[1915px];
}
.banner-section .banner__content {
  @apply py-[60px] px-[20px] lg:p-[60px];
}

.banner-section {
  @apply relative;
}

.banner-section .top-image {
  @apply absolute top-0 left-0 w-full z-[1];
}

.banner-section .bottom-image {
  @apply absolute bottom-0 left-0 w-full z-[1];
}

.banner-section.banner--mobile-bottom .banner__media {
  @apply absolute;
}

.banner-section.banner--large.banner--mobile-bottom:not(.banner--adapt)
  .banner__media {
  @apply h-full;
}

@media (max-width: 730px) {
  .banner-section .banner__text ul li {
    flex: 1 0 calc(50% - 28px);
    max-width: calc(50% - 14px);
  }
}

@media (max-width: 570px) {
  .banner-section .banner__text ul li {
    @apply text-left;
    flex: 1 0 100%;
    max-width: 100%;
  }
}

/* Products Slider */

.products-slider {
  @apply py-[60px] lg:py-[100px];
}
.products-slider .products-slider-wrapper {
  @apply px-[20px] sm:pl-[40px] lg:pl-[7%] xl:pl-[144px] relative;
}

.products-slider .products-slider-wrapper .product-card .image-wrapper {
  @apply max-w-[300px] mb-[20px] lg:mb-[38px];
}

.products-slider .products-slider-wrapper .product-card .image-wrapper img {
  @apply object-cover w-full h-full;
}

.products-slider .products-slider-wrapper .product-card h3 {
  @apply text-[24px] lg:text-[32px] leading-[30px] lg:leading-[40px] font-[600] mb-[16px];
}

.products-slider .products-slider-wrapper .product-card .description {
  @apply text-[16px] sm:text-[18px] leading-[25px] sm:leading-[28.8px] text-[#202020] mb-[30px];
}

.products-slider .products-slider-wrapper .product-card .price {
  @apply text-[20px] leading-[25px] text-[#202020] mb-[18px];
  font-family: var(--font-heading-family);
}

.products-slider .products-slider-wrapper .product-card {
  @apply bg-white rounded-[40px] overflow-hidden px-[30px] py-[20px] lg:pl-[50px] lg:pr-[75px] lg:pt-[53px] lg:pb-[62px];
}

.products-slider .products-slider-wrapper .product-card .button::after {
  @apply hidden;
}

.products-slider .products-slider-wrapper .keen-slider {
  overflow: visible !important;
}

.products-slider {
  @apply overflow-hidden;
}

.products-slider .slider-arrows {
  @apply absolute top-[50%] left-0 w-full flex justify-between items-center translate-y-[-50%] px-[10px] sm:px-[27px] pointer-events-none;
}

.products-slider .slider-arrows button {
  @apply w-[50px] lg:w-[64px] h-[50px] lg:h-[64px] rounded-full flex items-center justify-center bg-white pointer-events-auto;
}

.products-slider .slider-arrows button svg {
  @apply w-[18px] lg:w-[24px];
}
